### https://raw.github.com/github/gitignore/ebb436c5590ced8ae58eea87e6400abc759f60d7/Go.gitignore

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# ignore goland project file
.idea/

# ignore vendor source
/vendor

# ignore glide lock file
glide.lock

# ignore dep lock file
Gopkg.lock

# ignore data folder
data/

# ignore out folder
out/
